.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
  }

  .nav ul {
    position: absolute;
    top: 5rem;
    background: white;
  }

  .scale0 {
    transform: scale(0);
    transition: all 200ms ease-in-out 50ms;
  }

  .scale1 {
    transform: scale(1);
  }
}
