.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
  }

  .nav ul {
    /* position: absolute;
    top: 5rem; */
    transform-origin: top;
  }

  .scale0 {
    transform: scaleY(0);
    transition: all 200ms ease-in-out 50ms;
    max-height: 0px;
  }

  .scale1 {
    transform: scaleY(1);
    transition: all 200ms ease-in 50ms;
    max-height: 12rem;
  }
}
